body {
    background-color: #141414 !important;
}
main {
    margin: 2vw;
}
#logo {
    width: 75% !important;
    
}
#spacing{
    width: 15% !important;
}
#navbar {
    background: linear-gradient(#000000, #141414) !important;
    font-size: 1.2em !important;
    font-weight: 300;
}
#avatar {
    width: 50px !important;
}
#ul{
    display: ruby !important;
}