body {
    background-color: #141414 !important;
}
.main1{
   margin: 2vw !important;
}
footer {
    padding-left: 6vw !important;
}
#logo {
    width: 75% !important;
    
}
#spacing{
    width: 15% !important;
}
#navbar {
    background: linear-gradient(#000000, #141414) !important;
    font-size: 1.2em !important;
    font-weight: 300;
}
#avatar {
    width: 50px !important;
}
#ul{
    display: ruby !important;
}

/*------------------Account--------------------*/

.titolo {
    font-size: 4.0em;
}
#avatar2 {
    width: 10vw;
}
#input {
    width: 500px;
    height: 50px;
}
#input:focus{
    background-color: whitesmoke !important;
}
#main2 {
    margin-left: 40%;
    margin-right: 38%;
}